* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #a8e6fe;
  height: 100%;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.card {
  background-color: #06d7eff4;
  margin: 5px;
  width: 19%;
}

.aboutMovi {
  min-height: 100vh;
  padding: 20px 180px;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
}
.aboutMovi-img {
  width: 30%;
  height: 100%;
}

.aboutMovi-img img {
  border-radius: 10px;
}

.aboutMovi-img-btn {
  width: 96%;
  height: 50px;
  color: white;
  background-color: green;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px;
}

.aboutMovi-description {
  width: 69%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-left: 10px;
}

.aboutMovi-description-title {
  height: 20%;
  font-size: 50px;
  font-weight: bold;
  padding: 40px 0px 0px 30px;
}

.aboutMovi-description-genre {
  color: red;
  padding-left: 30px;
}

.aboutMovi-description-p {
  padding: 10px 30px 0px 30px;
  text-align: justify;
}
